---
import SharePoster from "@components/misc/SharePoster.svelte";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import { Icon } from "astro-icon/components";

interface Props {
	title: string;
	author: string;
	description: string;
	pubDate: string;
	coverImage?: string;
	url: string;
	siteTitle: string;
	avatar?: string;
	class?: string;
}

const {
	title,
	author,
	description,
	pubDate,
	coverImage,
	url,
	siteTitle,
	avatar,
	class: className,
} = Astro.props;
---

<div
	class:list={[
		className,
		"p-6 bg-(--license-block-bg) rounded-xl mb-6 onload-animation",
	]}
>
	<div class="flex flex-col sm:flex-row items-center justify-between gap-4">
		<div class="flex items-center gap-3 flex-1">
			<div
				class="flex items-center justify-center h-12 w-12 rounded-lg bg-(--enter-btn-bg)"
			>
				<Icon
					name="material-symbols:share"
					class="text-3xl text-(--primary)"
				/>
			</div>
			<div class="flex flex-col gap-1">
				<div class="text-[1.0rem] leading-tight text-75">
					{i18n(I18nKey.shareOnSocial)}
				</div>
				<p class="text-[0.8rem] leading-tight text-75">
					{i18n(I18nKey.shareOnSocialDescription)}
				</p>
			</div>
		</div>
		<div class="flex items-center gap-3">
			<SharePoster
				client:load
				title={title}
				author={author}
				description={description}
				pubDate={pubDate}
				coverImage={coverImage}
				url={url}
				siteTitle={siteTitle}
				avatar={avatar}
			/>
		</div>
	</div>
</div>
